<?xml version="1.0"?>
<launch>
    <arg name="robot_name"            default="$(env ROBOT_NAME)" />
    <arg name="base_frame"            default="base_footprint" />
    <arg name="output"                default="log" />
    <arg name="serial_port"           default="/dev/ttyRoboteqDriver" />

    <!-- motor driver -->
    <node name = "driver" pkg = "roboteq_driver" type = "roboteq_driver_node" output="$(arg output)" required='true'>
        <rosparam command="load" file="$(find camel_robot)/config/bringup/motor_driver_config.yaml" />
        <param name="port"  value="$(arg serial_port)"/>
        <param name="baud"  value="115200"/>
    </node>

    <node name = "encoder" pkg = "roboteq_driver" type = "roboteq_odom_node" output="$(arg output)" required='true'>
        <rosparam command="load" file="$(find camel_robot)/config/bringup/odom_encoder_config.yaml" />
        <param name="base_frame"            value="$(arg robot_name)/$(arg base_frame)"/>
        <param name="odom_frame"            value="$(arg robot_name)/odom"/>
        <param name="encoder_topic_name"    value="/$(arg robot_name)/driver/encoder_count" />
        <param name="command_srv"           value="/$(arg robot_name)/driver/dualchannel_command_service" />
        <param name="publish_tf"            value="false" />
    </node>
</launch>