<?xml version="1.0"?>
<launch>
    <arg name="robot_name"            default="$(env ROBOT_NAME)" />
    <arg name="base_frame"            default="base_link" />
    <arg name="output"                default="screen" />
    <arg name="pub_joints"            default="false" />

    <group if="$(arg pub_joints)">
        <!-- Robot Description -->
        <param name="use_gui" value="false" />
        <param name="robot_description" command="$(find xacro)/xacro '$(find camel_urdf)/urdf/CAMEL-1000.urdf.xacro'  robot_model:=$(arg robot_name)
        base_frame:=$(arg base_frame)"/>

        <!-- Joint State -->
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" respawn="true" output="$(arg output)"/>
        <!-- Robot State  -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="$(arg output)"/>
    </group>

    <!-- Front ZED2 -->
    <node name="zed2" pkg="zed_wrapper" type="zed_wrapper_node" output="$(arg output)" ns="front" required="true">
        <rosparam file="$(find camel_robot)/config/bringup/zed2_front_config.yaml" command="load" />
        <rosparam file="$(find camel_robot)/config/bringup/zed2_common_config.yaml" command="load" />
        <param name="general/camera_name"               value="$(arg robot_name)/zed_front" />
        <param name="general/base_frame"                value="$(arg robot_name)/$(arg base_frame)" />
        <param name="svo_file"                          value="" />
        <param name="stream"                            value="" />
        <param name="general/zed_id"                    value="0" />
        <param name="general/gpu_id"                    value="-1" />
        <param name="general/serial_number"             value="21229143" />
    </node>

    <!-- <node name="zed2" pkg="zed_wrapper" type="zed_wrapper_node" output="$(arg output)" ns="back" required="true">
        <rosparam file="$(find camel_robot)/config/bringup/zed2_back_config.yaml" command="load" />
        <rosparam file="$(find camel_robot)/config/bringup/zed2_common_config.yaml" command="load" />
        <param name="general/camera_name"               value="$(arg robot_name)/zed_back" />
        <param name="general/base_frame"                value="$(arg robot_name)/$(arg base_frame)" />
        <param name="svo_file"                          value="" />
        <param name="stream"                            value="" />
        <param name="general/zed_id"                    value="1" />
        <param name="general/gpu_id"                    value="-1" />
        <param name="general/serial_number"             value="29520794" />
    </node> -->

</launch>