<?xml version="1.0"?>
<launch>
    <arg name="robot_name"            default="$(env ROBOT_NAME)" />
    <arg name="base_frame"            default="base_link" />
    <arg name="output"                default="screen" />
    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true" output="$(arg output)">
        <rosparam command="load" file="$(find camel_robot)/config/slam/ekf_localization_config.yaml" />

        <param name="odom_frame" value="$(arg robot_name)/odom"/>
        <param name="base_link_frame" value="$(arg robot_name)/$(arg base_frame)"/>
        <param name="world_frame" value="$(arg robot_name)/odom"/>

        <param name="odom0" value="/$(arg robot_name)/encoder/odom"/> 
        <param name="odom0_queue_size" value="2"/>

        <param name="imu0" value="/$(arg robot_name)/front/zed/imu/data"/> 
        <param name="imu0_queue_size" value="5"/>
    
        <remap from="/$(arg robot_name)/odometry/filtered" to="/$(arg robot_name)/odometry"/>
        <remap from="/$(arg robot_name)/accel/filtered" to="/$(arg robot_name)/accel"/>

    </node>

</launch>